emoji==1.4.2
demoji
fugashi
gensim==4.0.1              
ginza==5.1.0                    
ipadic           
ja-ginza==5.1.0                         
Janome
jupyter
matplotlib
mecab-python3            
networkx==2.5
numpy
openpyxl
pandas
prince==0.7.1              
scikit-learn         
scipy==1.5.4              
seaborn          
sentencepiece
spacy
torch
transformers==4.12.5             
wordcloud            
